.video-module-background {
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
}
#video-thumb-play {
  position: absolute;
  top: 0;
  cursor: pointer;
}
.framePlayerContainer {
  padding-bottom: 500px !important;
}

.video-module-overlay {
  background-size: 100% 100%;
  background-position: center top;
  background-repeat: no-repeat;
}
.video-module-player {
  width: 100%;
  margin: auto;
}
.video-play-icon svg {
  fill: #0c0101;
  width: 50px;
  height: 50px;
}
.video-play-icon {
  z-index: 9;
  cursor: pointer;
  padding: 10px 7px 5px 15px;
  margin: -2em 0 0 -1.8em;
  border-radius: 25px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
}
.video-thumbnail {
  position: relative;
}
/* .video-play-icon:hover{background-color: rgb(0, 173, 239);} */
.video-container-module {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.video-container-module iframe,
.video-container-module object,
.video-container-module embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 1250px) {
  .video-module-background {
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .video-module-player {
    padding-bottom: 50%;
    padding-top: 32%;
    width: 90%;
  }
}
@media (max-width: 767px) {
  #playertwo iframe {
    width: 100%;
  }
  .video-module-overlay {
    background-size: contain;
  }
  .video-module-background {
    background-size: 100%;
  }
}
