<div class="ik-container stretch-page-template">
  <div class="grid">
    <div class="grid__item">
      <div class="rte">
        {{ page.content | replace_first: "><img", " class='stretch_width_image'><img" }}
      </div>
    </div>
  </div>
</div>